.board {
  display: flex;
  flex-direction: column;
  padding: 1rem 4.25rem;
}

.board__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.board__container {
  display: flex;
  justify-content: space-between;
  min-height: 48rem;
}

.logo {
  width: 7rem;
  height: 7rem;
  margin-bottom: 0.5rem;
}

.loader {
  align-self: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}