.buttons__container {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-bottom: 1.5rem;
}

.student__name {
  margin-right: 1rem;
  font-size: 1rem;
  color: $gray900;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
  color: $gray900;
  border: 1px solid $gray400;
  border-radius: 4px;

  &:hover {
    background-color: $gray400;
    color: $white;
  }
  
  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}