.buttons__container {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-bottom: 1.5rem;
}

.student__name {
  margin-right: 1rem;
  font-size: 1rem;
  color: $gray900;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
  color: $gray900;
  border: 1px solid $gray400;
  border-radius: 4px;

  &:hover {
    background-color: $gray400;
    color: $white;
  }
  
  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}

.modal__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid $gray400;
  background-color: $green3;
  color: $gray900;
  margin-bottom: 1.5rem;

  &:hover {
    background-color: $green1;
    color: $gray200;
  }
}

.form__actions {
  top: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.form__actions__cancel {
  padding: 16px;
  margin-right: 8px;
  border: 1px solid $black;
  border-radius: 4px;
  cursor: pointer;
  background-color: $gray100;

  &:hover {
    background-color: $gray400;
    color: $white;
  }
}

.form__actions__accept {
  padding: 16px;
  cursor: pointer;
  border: 1px solid $black;
  border-radius: 4px;
  background-color: $green3;

  &:hover {
    background-color: $green1;
    color: $gray200;
  }
}