$black: #000;
$gray900: #2B2A30;
$gray600: #737373;
$gray500: #999999;
$gray400: #CCCCCC;
$gray200: #EEEEEE;
$gray100: #F5F5F5;
$gray50: #FAFAFA;
$white: #fff;

$coral1: #EB605E;
$coral3: #FCE7E7;

$green1: #01AB53;
$green3: #E4ECE6;

$yellow1: #E8BB06;
$yellow2: #FFF8E1;