.board {
  display: flex;
  flex-direction: column;
  padding: 4.25rem;
}

.board__container {
  display: flex;
  justify-content: space-between;
  min-height: 44rem;
}

.logo {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 1%;
}