.card {
  border: 1px solid $gray200;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba($black, 0.1);
  background-color: $white;
  min-height: 8.125rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 8px rgba($black, 0.1);
    position: relative;
    z-index: 5;
  }

  &:first-child {
    margin-top: 0;
  }
}

.card__title {
  max-width: 100%;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin: 0.5rem 0;
  color: $gray900;
}

.card__title--done {
  color: $gray500;
  text-decoration: line-through;
}
