$black: #000;
$gray950: #141313;
$gray900: #2B2A30;
$gray800: #424242;
$gray700: #616161;
$gray600: #737373;
$gray500: #999999;
$gray400: #CCCCCC;
$gray300: #E0E0E0;
$gray200: #EEEEEE;
$gray100: #F5F5F5;
$gray50: #FAFAFA;
$white: #fff;

$pink1: #5D1049;
$pink2: #9B0063;
$pink3: #D4166E;
$pink4: #EBCCE0;

$turquoise0: #0D3B4E;
$turquoise1: #104A62;
$turquoise2: #007C89;
$turquoise3: #3482A3;
$turquoise4: #D6F2FF;

$red1: #E30425;
$coral1: #EB605E;
$coral2: #F99697;
$coral3: #FCE7E7;
$coral4: #FBB6B6;

$orange1: #C82E18;
$orange2: #FF4C1D;
$orange3: #FD886A;

$blue1: #060E9F;
$blue2: #2D40FC;
$blue3: #D9DBF1;
$blue5: #E5E6F6;
$blue7: #F2F3FA;

$blues400: #C0C6FE;

$green1: #01AB53;
$green2: #BFE5CA;
$green3: #E4ECE6;
$green4: #EBF1ED;
$green5: #F1F5F3;
$green6: #D2EDDA;

$yellow1: #E8BB06;
$yellow2: #FFF8E1;
$yellow3: #FAF1CD;
