.column {
  background-color: $gray100;
  border: 1px solid $gray400;
  border-top: 0;
  border-radius: 10px 10px 0px 0px;
  width: 40%;
  position: relative;
  border-top: 0;
  min-width: 13rem;
}

.column + .column {
  margin-left: 1.5rem;
}

.column__info {
  display: flex;
  justify-content: space-between;
}

.column__info__background {
  background-color: $gray100;
  border-top: 1px solid $gray400;
  border-radius: 10px 10px 0px 0px;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 6;
}

.column__data {
  padding: 0 0.5rem 0.5rem;
}

.column__title {
  color: $gray900;
}

.column__count {
  color: $gray600;
}
